<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.core.persistence.dao.ISysTenantUsersDao">
    <resultMap id="SysTenantRoles" type="com.ares.core.persistence.entity.SysTenantUsers">
        <id column="Id" jdbcType="BIGINT" property="id"/>
        <result column="TenantId" jdbcType="VARCHAR" property="tenantId"/>
        <result column="UserId" jdbcType="VARCHAR" property="userId"/>
        <result column="Creator" jdbcType="BIGINT" property="creator"/>
        <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="Modifier" jdbcType="BIGINT" property="modifier"/>
        <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `Id`
        ,`TenantId`,`UserId`, `Creator`,`CreateTime`,`Modifier`, `ModifyTime`
    </sql>

    <insert id="insert" parameterType="com.ares.core.persistence.entity.SysTenantUsers">
        insert into `sys_tenant_users` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{tenantId,jdbcType=VARCHAR},
        #{userId,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.ares.core.persistence.entity.SysTenantUsers">
        update `sys_tenant_users`
        <set>
            <if test="tenantId!= null">
                `TenantId`=#{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="userId!= null">
                `UserId`=#{userId,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `Creator` = #{creator,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                `CreateTime` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `Modifier` = #{modifier,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                `ModifyTime` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `Id` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_tenant_users`
        where `Id` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="SysTenantRoles">
        select
        <include refid="Base_Column_List"/>
        from `sys_tenant_users`
        where `Id` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="SysTenantRoles">
        select
        <include refid="Base_Column_List"/>
        from `sys_tenant_users`
        where 1=1
        <if test="search != null">

        </if>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CreateTime` desc
        </if>
    </select>

    <select id="selectList" parameterType="com.ares.core.model.query.SysTenantUsersQuery" resultMap="SysTenantRoles">
        select
        <include refid="Base_Column_List"/>
        from `sys_tenant_users`
        where 1=1
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CreateTime`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`CreateTime`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
    </select>

    <select id="getUserIdsByTenant" parameterType="java.lang.Long" resultType="java.lang.String">
        select `UserId`
        from `sys_tenant_users`
        where `TenantId` = #{tenantId,jdbcType=BIGINT}
    </select>

    <select id="getTenantIdByUserId" resultType="java.lang.Long">
        select `TenantId`
        from `sys_tenant_users`
        where `UserId` = #{userId}
    </select>

    <delete id="deleteByTenantId" parameterType="java.lang.Long">
        delete from `sys_tenant_users`
        where `TenantId` = #{tenantId}
    </delete>
</mapper>
