<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.ai.persistence.dao.ISysWorkflowsDao">
    <resultMap id="SysWorkflows" type="com.ares.ai.persistence.entity.SysWorkflowsDto">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="APP_ID_" jdbcType="VARCHAR" property="appId"/>
        <result column="GRAPH_" jdbcType="VARCHAR" property="graph"/>
        <result column="WORKFLOW_NAME_" jdbcType="VARCHAR" property="workflowName"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `ID_`
        ,`APP_ID_`,`GRAPH_`,`WORKFLOW_NAME_`, `CREATOR_`,`CREATE_TIME_`,`MODIFIER_`, `MODIFY_TIME_`
    </sql>

    <insert id="insert" parameterType="com.ares.ai.persistence.entity.SysWorkflowsDto">
        insert into `sys_workflows` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{appId,jdbcType=VARCHAR},
        #{graph,jdbcType=VARCHAR},
        #{workflowName,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.ares.ai.persistence.entity.SysWorkflowsDto">
        update `sys_workflows`
        <set>
            <if test="appId!= null">
                `APP_ID_`=#{appId,jdbcType=VARCHAR},
            </if>
            <if test="graph!= null">
                `GRAPH_`=#{graph,jdbcType=VARCHAR},
            </if>
            <if test="workflowName!= null">
                `WORKFLOW_NAME_`=#{workflowName,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `ID_` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_workflows`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="SysWorkflows">
        select
        <include refid="Base_Column_List"/>
        from `sys_workflows`
        where `ID_` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="SysWorkflows">
        select
        <include refid="Base_Column_List"/>
        from `sys_workflows`
        <where>
            <if test="search != null">

            </if>
        </where>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CREATE_TIME_` desc
        </if>
    </select>

    <select id="selectList" parameterType="com.ares.ai.model.query.SysWorkflowsQuery" resultMap="SysWorkflows">
        select
        <include refid="Base_Column_List"/>
        from `sys_workflows`
        <where>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(`CREATE_TIME_`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
    </select>
</mapper>
